@charset "utf-8";
/* CSS Document */

body {
    margin: 0px;
    font-family:  '微软雅黑','Helvetica Neue',sans-serif,SimHei;
	padding:0px;
	border:none;
	box-sizing: border-box;
}
ul, li {
	margin:0px;
	padding:0px;
	}
div , input , a , span , i{
	box-sizing: border-box;
	text-decoration:none;
	}
.block{
	display:block;
	}
.shu-line{
	width:1px;
	overflow:hidden;
	float:left;
	}
.left{
	float:left;
	}
.right{
	float:right;
	}
/*菜单css*/
.main-menu{
	position:fixed;
	width:80px;
	left:0px;
	top:0px;
	bottom:0px;
	background-color:#333;
	float:left;
	}
.main-menu .avatar{
	width:64px;
	height:64px;
	background-color:#FFF;
	-moz-border-radius: 32px; 
	-webkit-border-radius: 32px; 
	border-radius: 32px;
	z-index:20px;
	position:absolute;
	top:8px;
	left:8px;
	overflow:hidden;
	}
.main-menu .res-avatar{
	top:5px;
	position:absolute;
	width:70px;
	height:70px;
	left:5px;
	background-color:#666;
	-moz-border-radius: 35px; 
	-webkit-border-radius: 35px; 
	border-radius: 35px;
	z-index:10px;
	}
.main-menu .body-menu{
	position:absolute;
	width:100%;
	top:90px;
	}
.body-menu .menu-a{
	display:block;
	width:100%;
	height:70px;
	text-decoration:none;
	color:#FFF;
	text-align:center;
	line-height:70px;
	letter-spacing:1px;
	font-size:14px;
	padding-top:10px;
	cursor:pointer;
	}
.body-menu .menu-a:hover{
	background-color:#666;
	}
.body-menu .select-menu{
	background-color:#666;
    }
.body-menu .menu-a span{
	display:block;
	height:30px;
	line-height:30px;
	}
.menu-a .ico{
    width:80px;
	height:30px;
	display:block;
	}
.menu-a .msg-ico{
	background:url(images/msg-ico.png) no-repeat center  top;
	}
.menu-a .hualao-ico{
	background:url(images/hualao-ico.png) no-repeat center  top;
	}
.menu-a .jishu-ico{
	background:url(images/jishu-ico.png) no-repeat center  top;
	}
.menu-a .lvyou-ico{
	background:url(images/lvyou-ico.png) no-repeat center  top;
	}
.menu-a .yundong-ico{
	background:url(images/yundong-ico.png) no-repeat center  top;
	}
.menu-a .shishang-ico{
	background:url(images/shishang-ico.png) no-repeat center  top;
	}
.menu-a .sheying-ico{
	background:url(images/sheying.png) no-repeat center  top;
	}
	
.menu-set{
	position:absolute;
	bottom:0px;
	width:100%;
	height:25px;
	background-color:#13171c;
	}
.menu-set a{
	width:39px;
	float:left;
	height:25px;
	}
.menu-set .set{
	background:url(images/set.png) center center no-repeat;
	}
.menu-set .logout{
	background:url(images/logout.png) center  center no-repeat;
	}
.menu-set .set-logout{
	height:15px;
	margin-top:5px;
	background-color:#DDD;
	}
/*-----------------*/

/*内容部分*/
.wrapper{
	float:right;
	position:absolute;
	left:80px;
	right:0px;
	bottom:0px;
	top:0px;
	background-color:#f7f6f2;
	}