<a name="hualao" id="hualao" ></a>
<script type="text/javascript">
	    $(".hualao-menu-a").click(function() {
		    url = $(this).attr("data-href");
			$(".hualao-menu-a").removeClass("select");
			$(this).addClass("select");
		  
			$.ajax({
			    url:url,
				type:"POST",
				dataType:"text",
				async : true,
				contentType : "application/x-www-form-urlencoded; charset=UTF-8",
				success : function(data,textStatus, jqXHR) {
					$("#contactList").html(data)
				},
				error:function(XMLHttpRequest, textStatus, errorThrown) {
					$("#contactList").html("对不起，服务器繁忙，请稍微再试！");
				}
		    }); 
		}); 
</script>
<div class="contact-type">
   <div class="contact-type-h">
      话唠中心
   </div>
   <a class="hualao-menu-a select" data-href="/hualao/friend">我关注的话唠（{{.friendLen}}）</a>
   <a class="hualao-menu-a" data-href="/hualao/quns">我关注的社区（{{.qunsLen}}）</a>
</div>
<div class="contact-list">
   <div class="contact-list-h">
      我的关注
   </div>
   <div id="contactList" class="contact-list-c">
       {{template "hualao/userList.html" .}}
   </div>
</div>
