{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}
     <title>话唠</title>
{{end}}
{{define "addCSS"}}
<link type="text/css" charset="utf-8" rel="stylesheet" href="/static/css/app/home.css">
<link type="text/css" charset="utf-8" rel="stylesheet" href="/static/css/app/msgCenter.css"/>
<link type="text/css" charset="utf-8" rel="stylesheet" href="/static/css/app/hualao.css"/>
{{end}}
{{define "addJS"}}
<script src="/static/js/base/msg-js.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
	 $(".menu-a").click(function() {
	    $(".menu-a").removeClass("select-menu")	
	    var url = $(this).attr("data-href");
		var id = $(this).attr("data-id");
		
		/*消息中心特殊，因为与消息系统建立了链接所以必须始终加载着，以便接受消息。*/
		if (id == "msg-center") { 
			$("#msg-center").css("display","block");
			$("#wrapperOther").html("");
			return;
		}
		
		$.ajax({
		    url:url,
			type:"POST",
			dataType:"text",
			async : true,
			contentType : "application/x-www-form-urlencoded; charset=UTF-8",
			success : function(data,textStatus, jqXHR) {
				
			    $("#msg-center").css("display","none");
			    $("#wrapperOther").html(data);
				
			},
			error:function(XMLHttpRequest, textStatus, errorThrown) {
				$("#wrapper").html("对不起，服务器繁忙，请稍微再试！");
			}
		});
		$(this).addClass("select-menu");
	 });		   					   
});
</script>
{{end}}

{{define "body"}}
<div class="main-menu">
   <div class="res-avatar"></div>
   <div class="avatar">
     <img src="/static/images/mytouxiang.png" width="100%"/>
   </div>
   <div class="body-menu">
      <a class="menu-a" data-id="msg-center" data-href="/home/msgCenter">
        <i class="ico msg-ico"></i>
        <span>消息中心</span>
      </a>
      <a class="menu-a" data-id="hualao" data-href="/hualao">
        <i class="ico hualao-ico"></i>
        <span>话唠录</span>
      </a>
      <a class="menu-a" data-id="" data-href="技术唠">
        <i class="ico jishu-ico"></i>
        <span>技术唠</span>
      </a>
      <a class="menu-a" data-href="旅行者">
        <i class="ico lvyou-ico"></i>
        <span>旅游唠</span>
      </a>
      <a class="menu-a" data-href="运动场">
        <i class="ico yundong-ico"></i>
        <span>运动者</span>
      </a>
      <a class="menu-a" data-href="时尚街">
        <i class="ico shishang-ico"></i>
        <span>时尚街</span>
      </a>
      <a class="menu-a" data-href="摄影">
        <i class="ico sheying-ico"></i>
        <span>摄影唠</span>  
      </a>
   </div>
   <div class="menu-set">
     <a  href="#" class="block set">
     </a>
     <div class="shu-line set-logout"></div>
     <a  href="#" class="block logout">
     </a>
   </div>
</div>
<div  id="wrapper" class="wrapper">
  {{template "msgCenter/msgCenter.html" .}}
  <div id="wrapperOther" style="width:100%;height:100%;"></div>
</div>
{{end}}