{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}
     <title>有信网页版</title>
{{end}}

{{define "addCSS"}}
  <link href="/static/css/app/login.css" rel="stylesheet" />
{{end}}

{{define "addJS"}}
<script type="text/javascript">
var checkValid = function() {
	
	var username = $("#userName").val()
	if (username == null || username == "" || username =="请输入您的昵称"){
	    $("#failInfo").slideDown(300).text("用户名不能为空")
	    return false;
	}
	var password =$("#password").val()
	if (password == null || password == "" || password=="创建您的密码"){
	    $("#failInfo").slideDown(300).text("密码不能为空")
	   return false;
	}
	return true
  }
var initName = function(self) {
	$(self).val("")
	$(self).css("color","#333")
	 $("#failInfo").slideUp(100)
 }
	
var initPwd = function(self) {
	$(self).val("")
	$(self).css("color","#333")
	$(self).attr("type","password")
	$("#failInfo").slideUp(100)
}
 var register = function(){

	if  (!checkValid()) {
		return
	}
	var queryString = $('#loginForm').serializeArray(); 
	var queryObj = {};
	$.each(queryString ,function(index, value) {
		queryObj[value["name"]] = value["value"];						 
	});
	
	$.ajax({
		url : "/doRegister",
		type : "POST",
		data : queryObj,
		dataType : 'json',
		async : true,
		contentType : "application/x-www-form-urlencoded; charset=UTF-8",
		success : function(data,textStatus, jqXHR) {
			console.log(data)
			if (data.Success){
				window.location.href = '/home';
			}else {
				$("#failInfo").slideDown(300).text(data.Msg)
			}
		},
		error:function(XMLHttpRequest, textStatus, errorThrown) {
			//alert("与服务器连接失败"+XMLHttpRequest.responseText);
		}
	});
}

</script>
{{end}}

{{define "body"}}
  <div class="head">
     <div class="head-info">
         <img src="/static/css/app/images/logo7.png" height="33" style="margin-top:10px" />
     </div>
     <div class="menu">
       用户注册
     </div>
     <div class="head-btn">
        <a class="btn login-btn" href="/login">登录</a>
        <a class="btn register-btn" href="/register">注册</a>
     </div>
  </div>
  <div class="b">
     <img src="/static/images/login-b6.jpg" width="100%" />
  </div>
  <div class="box">
      <div class="login-box">   
          <div class="login-form-bak"></div>
          <div class="login-form">
	     <form id="loginForm">
	              <div class="login-param">
	                 <div class="parma-group">
	                     <input type="text" id="userName"  style="color:#888;" onfocus="initName('#userName')" class="userName" name ="userName"  value="请输入您的昵称"/>
	                 </div>
	                 <div class="line"></div>
	                 <div class="parma-group">
	                     <input type="text" id="password" style="color:#888;"   onfocus="initPwd('#password')" class="pwd" name="password" value="创建您的密码"/>
	                 </div>
	              <div id="failInfo" class="login-info"></div>
	      </form>
                 <div class="login_button"  onclick="register()">
                                    立即注册
                 </div>
                 <div class="login_descript">
                    <input type="checkbox" id="login_check">
                    <label for="login_check">记住密码</label>
                    <a style="float:right;"  class="warning_a">忘记密码？</a>			
                </div>
              </div>
          </div>
      </div>
  </div>
{{end}}